<ion-header>
  <ion-toolbar color="login">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-input label="Nombre" label-placement="floating" fill="solid" placeholder="Ingrese nombre"></ion-input>
        <br/>
        <ion-input label="Contraseña" label-placement="floating" fill="solid" placeholder="Ingrese contraseña"></ion-input>
      </form>
      <br>
        <ion-icon name="person-circle-outline" size="large" color="login"></ion-icon>
      <button class="btn" [routerLink]="['/tab1']">Iniciar Sesion</button>
      <button class="btn2" [routerLink]="['/tab3']">Sesion Administrador</button>

    </ion-card-content>
  </ion-card>
</ion-content>

